
<div class="container">
  <div>
    <img src="../assets/images/sample.jpg"  height="250px" width="250px" />
    <label class="flowers">flowers</label>
  </div>
  
  <img src="../assets/images/sample1.jpg" height="250px" width="250px"><label class="flowers">flowers123</label>
  <img src="../assets/images/sample2.jpg" height="250px" width="250px"><label class="flowers">flowerset</label>
  <img src="../assets/images/sample3.jpg" height="250px" width="250px"><label class="flowers">flowersetet</label>
  <img src="../assets/images/sample4.jpg" height="250px" width="250px"><label class="flowers">flowersetew</label>
  <img src="../assets/images/sample.jpg"  height="250px" width="250px"><label class="flowers">flowerseyy</label>
  <img src="../assets/images/sample1.jpg" height="250px" width="250px"><label class="flowers">flowerstut</label>
  <img src="../assets/images/sample2.jpg" height="250px" width="250px"><label class="flowers">flowerstu</label>
  <img src="../assets/images/sample3.jpg" height="250px" width="250px"><label class="flowers">flowersjhj</label>
  <img src="../assets/images/sample4.jpg" height="250px" width="250px"><label class="flowers">flowershjh</label>
  <img src="../assets/images/sample3.jpg" height="250px" width="250px"><label class="flowers">flowerswwr</label>
  <img src="../assets/images/sample4.jpg" height="250px" width="250px"><label class="flowers">flowersetet</label>
  <img src="../assets/images/sample.jpg"  height="250px" width="250px"><label class="flowers">flowerstutyu</label>
  <img src="../assets/images/sample2.jpg" height="250px" width="250px"><label class="flowers">flowersry</label>
  <img src="../assets/images/sample3.jpg" height="250px" width="250px"><label class="flowers">flowerstrutu</label>
  <img src="../assets/images/sample4.jpg" height="250px" width="250px"><label class="flowers">flowerstutu</label>
</div>

<router-outlet />

