/* You can add global styles to this file, and also import other style files */

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
    align-items:start;
    box-sizing: border-box;
    width: 90%;
      position: relative;
     text-align: center;
    color: rgb(159, 47, 47);  
}
.container > img {
    border: 1px solid red;
    border-radius: 10px;
   border-bottom-color: rgb(89, 42, 165);
   border-bottom-width: 35px;
   cursor: pointer;
}
.flowers {
    position: absolute;
   top : 50px;
}


